.gitmodules
.yarnrc.yml
.travis.yml
yarn.lock
build/
test/
deps/zstd/.circleci/
deps/zstd/.github/
deps/zstd/build/
deps/zstd/contrib/
deps/zstd/doc/
deps/zstd/examples/
deps/zstd/lib/deprecated/
deps/zstd/lib/dictBuilder/
deps/zstd/lib/dll/
deps/zstd/lib/legacy/
deps/zstd/lib/README.md
deps/zstd/lib/BUCK
deps/zstd/lib/libzstd.mk
deps/zstd/lib/libzstd.pc.in
deps/zstd/lib/module.modulemap
deps/zstd/lib/Makefile
deps/zstd/programs/
deps/zstd/tests/
deps/zstd/zlibWrapper/
deps/zstd/.buckconfig
deps/zstd/.buckversion
deps/zstd/.cirrus.yml
deps/zstd/.gitattributes
deps/zstd/CHANGELOG
deps/zstd/CODE_OF_CONDUCT.md
deps/zstd/CONTRIBUTING.md
deps/zstd/COPYING
deps/zstd/Makefile
deps/zstd/Package.swift
deps/zstd/README.md
deps/zstd/SECURITY.md
deps/zstd/TESTING.md
dist.sh